body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	margin: 10 auto;
	padding: 10px;
	background-color:#eef;
	background-image:url('background.jpg');
	background-repeat: repeat-x;
	color:black;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

input[type=text], input[type=password] {
	width: 400px;
	height: 30px;
	font-size: 20px;
	padding: 2px;
	border: 2px double #dd9999;
	border-left: 12px solid #dd9999;
	border-right: 12px solid #dd9999;
	border-radius: 30px;
}

input[type=submit] {
	font-style: normal;
	font-size: 18px;
	padding: 5px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.error {
    color: red;
}
.moving{
	//-webkit-transition:all 2s;
}

.center{
	margin-left:auto;
	margin-right:auto;
	width: 100%
}

.clear{
	clear:both;
}

.transparent{
	background-image:url('background.jpg');
}

.moving:hover{
	position: relative;
	left: 1px;
	top:1px;
}

.watermark {
   color: rgba(100, 100, 100, 0.2);
}

.user_name{
	padding: 4px;
	display:inline;
}

#online_list{
	border: 2px solid black;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, .8);
	float:left;
	max-height: 400px;
	overflow-y: auto;
	list-style-type:none;
	margin:0;
    padding:0;
}

#online_list li{
	padding: 18px;
	min-width: 300px;
	clear:both;
	border-bottom: 2px solid black;
}

#online_list li:hover{
	background-color: rgba(200, 200, 200, .5);
	cursor:pointer;
}

#searchbox{
	width: 300px;
	height: 25px;
	border: 1px solid orange;
	border-radius: 10px;
	font-size: 15px;
}
